.nav {
    margin: 0 auto;
    width: 80vw;
    @media (max-width: 415px){
        width: 100%;
    }
}

.big-menu {
    @media (max-width: 530px){
        display: none;
    }
}

.small-menu {
    @media (min-width: 531px){
        display: none;
    }
}